# ==============================================================================
# LogBot Agent .gitignore
# ==============================================================================

# Konfiguration mit Serverdaten
config.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db
